*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #F2C14E;
}

body{
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}

h1{
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505C;  
}

#board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cell{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;   
}
.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(6) ~ .cell{
    border-bottom: none;
}
  
#result {
    font-size: 24px;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
